body {
    font-family: Arial, sans-serif;
    color: red;
    text-align: center;
    margin-top: 250px;
}
textarea {
    border: 1px solid #808080;
    border-radius: 3px;
    padding: 10px;
    resize: vertical;
    margin-top: 10px;

}

button {
    display: inline-block;
    margin-top: 10px;
}

label {
    padding: 10px;
    margin-bottom: 10px;
}